body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.required {
    color: rgb(206, 11, 11);
    font-weight: bold;
}

.invalid {
    border-color: rgb(206, 11, 11);
    border-width: 3px;
}

.files ul {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-around;
}

.files img {
    width: 100%;
    height: 100%;
    border: solid 1px rgb(205, 205, 205); 
}

.files li {
    width: 100%;
    height: 300px;
    list-style: none;
    margin-bottom: 15px;
}